doctype html
html
  head
    title IoT Demo
    meta(charset='urt-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Bootstrap
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/css/font-awesome.min.css', rel='stylesheet', media='screen')
  body
    // Part 1: Wrap all page content here
    #list
      .container
        .page-header
          .row
            .col-lg-12
              h1 SENSORO
              p
                img(src='/img/signal.gif' width=110 height=70)
        .row
          .col-lg-12
            ul.breadcrumb
              li.fa.fa-home.active(aria-hidden='true')&nbsp;
                a(href='/') 传感器管理
              li.active 传感器详情
        .bs-docs-section
          .row
            .col-lg-12
              #echarts(style='width:95%;height:400px;')
    #footer
      .container
        .bs-docs-section
          .row
            .col-lg-12
              p.text-center Copyright © 2016 Sensoro Inc. All rights reserved.
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/echarts.min.js')
    script(src='/js/socket.io-1.4.5.js')
    script(src='/js/realtime.js')