doctype html
html
  head
    title α 云平台开发者对接示例
    meta(charset='urt-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/css/bootstrap-table.min.css', rel='stylesheet')
    link(href='/css/font-awesome.min.css', rel='stylesheet', media='screen')
  body
    #list
      .container
        .page-header
          .row
            .col-lg-12
              h1 SENSORO
              p
                img(src='/img/signal.gif' width=110 height=70)
        .row
          .col-lg-4
            ul.breadcrumb
              li.fa.fa-home.active(aria-hidden='true') &nbsp;传感器管理
        .bs-docs-section
          .row
            .col-lg-12
              table.table.table-striped.table-hover(data-toggle='table' data-classes='table-no-bordered'
              data-sort-name='updatedTime' data-sort-order='desc' data-url='/views/sensors' pagination='true'
              data-pagination='true' data-side-pagination='server' data-page-size=20 data-search='true')
                thead
                  tr
                    th(data-field='sn' data-sortable='true') 设备编号
                    th(data-field='sensorData.temperature' data-sortable='true') 温度 °C
                    th(data-field='sensorData.light' data-sortable='true') 光线 Lx
                    th(data-field='sensorData.humidity' data-sortable='true') 湿度 %RH
                    th(data-field='sensorData.battery' data-sortable='true') 电量 %
                    th(data-field='sensorData.customer' data-sortable='true') 自定义数据
                    th(data-field='updatedTime' data-sortable='true'  data-sort-order='desc') 最近更新时间
    #footer
      .container
        .bs-docs-section
          .row
            .col-lg-12
              p.text-center Copyright © 2016 Sensoro Inc. All rights reserved.
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/bootstrap-table.min.js')
    script(src='/js/bootstrap-table-zh-CN.min.js')